/* src/components/Weather/Icons/WiLightning.css */
@keyframes moveClouds {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes lightningFlash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lightning-icon .clouds {
  animation: moveClouds 4s linear infinite;
}

.lightning-icon .lightning polygon {
  animation: lightningFlash 0.2s infinite;
}
